.header{
  display: flex;
  justify-content: space-around;
  margin-left: 0%;
  height: 60px;
  align-items: center;
  font-size: 16px;
}

.nav-link{
  font-size: 0.8rem; 
  margin-left: 10px;
}

.header-logo{
  padding-left: 15%; 
}
